.navbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fbf1ff;
    padding: 0 10px;
    height: 100px;
    z-index: 1000; /* Ensure it's above other content */
    transition: all 1s ease;
        display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-heading {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar-buttons {
    display: flex;
    gap: 0.3rem;
    align-items: center;
  }
  
  .navbar.navbar-hidden {
    position:fixed;
  }
  