.navbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fbf1ff;
    padding: 0 10px;
    height: 100px;
    z-index: 1000; /* Ensure it's above other content */
    transition: all 1s ease;
        display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-heading {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar-buttons {
    display: flex;
    gap: 0.3rem;
    align-items: center;
  }
  
  .navbar.navbar-hidden {
    position:fixed;
  }
  .navbar-menu{
    display: none;
  }
  
  @media (max-width:720px) {
    .navbar-buttons{
        display: none;
    }
    .navbar-menu{
        display: block;
    }
  }

  .dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .dialog-open {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
  }
  
  .dialog-closed {
    opacity: 0;
    visibility: hidden;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  